html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#editor {
  height: 100%;
  width: 50%;
  display: inline-block;
}

#iframe {
  height: 100%;
  width: 50%;
  display: inline-block;
}

#container {
  height: 100%;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
}

 #export-btn {
    /* Apariencia de pestaña */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 10px 20px;
  cursor: pointer;
  }

  #export-btn:hover {
    /* Estilos del botón al pasar el mouse por encima */
    background-color: #3e8e41; /* Verde oscuro */
  }

  #export-btn:active {
    /* Estilos del botón al hacer clic */
    background-color: #2e6c31; /* Verde más oscuro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
  }

  #clear-btn {
    /* Apariencia de pestaña */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 10px 20px;
  cursor: pointer;
  }

  #clear-btn:hover {
    /* Estilos del botón al pasar el mouse por encima */
    background-color: #3e8e41; /* Verde oscuro */
  }

  #clear-btn:active {
    /* Estilos del botón al hacer clic */
    background-color: #2e6c31; /* Verde más oscuro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
  }


   #load-code-btn {
   /* Apariencia de pestaña */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 10px 20px;
  cursor: pointer;
  }

  #load-code-btn:hover {
    /* Efecto de hover */
  background-color: #e0e0e0;
  }

  #load-code-btn:active {
    /* Estilos del botón al hacer clic */
    background-color: #2e6c31; /* Verde más oscuro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
  }

  /* Favicon Fluent Design */

.favicon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0078d7; /* Azul Fluent */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}

.favicon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4);
}

.favicon::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff; /* Blanco */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.favicon::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #0078d7; /* Azul Fluent */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.favicon {
  transform: scale(0.20); /* Reducir el tamaño a 75% */
}

  #import-btn {
  /* Apariencia de pestaña */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 10px 20px;
  cursor: pointer;
}

#import-btn:hover {
  /* Efecto de hover */
  background-color: #e0e0e0;
}

#import-btn:active {
  background-color: #2f6f31;
}

#import-btn:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



   #loadwol-code-btn {
    /* Apariencia de pestaña */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 10px 20px;
  cursor: pointer;
  }

  #loadwol-code-btn:hover {
  /* Efecto de hover */
  background-color: #e0e0e0;
  }

  #loadwol-code-btn:active {
    /* Estilos del botón al hacer clic */
    background-color: #2e6c31; /* Verde más oscuro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
  }

  #refreshButton {
  
  /* Apariencia de pestaña */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 10px 20px;
  cursor: pointer;
}

#refreshButton:hover {
 /* Efecto de hover */
  background-color: #e0e0e0;
}

#refreshButton:active {
  /* Estilo al hacer clic */
  background-color: #2e6d31; /* Verde más oscuro */
  transform: translateY(2px); /* Desplazamiento hacia abajo */
}




 #show-iframe-btn {
  /* Estilo del botón */
  background-color: #4CAF50; /* Verde claro */
  color: #fff; /* Blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Relleno */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor en forma de mano */
  border-radius: 5px; /* Esquinas redondeadas */
  transition: background-color 0.3s ease-in-out; /* Transición suave */
}

#show-iframe-btn:hover {
  /* Estilo al pasar el mouse por encima */
  /* Efecto de hover */
  background-color: #e0e0e0;
}

#show-iframe-btn:active {
  /* Estilo al hacer clic */
  background-color: #2e6d31; /* Verde más oscuro */
  transform: translateY(2px); /* Desplazamiento hacia abajo */
}





/* Estilos para el botón */
#catalog-button {
 /* Apariencia de pestaña */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 10px 20px;
  cursor: pointer;
}

#catalog-button:hover {
  /* Efecto de hover */
  background-color: #e0e0e0;
}

/* Estilos para el contenedor del catálogo */
#catalog-container {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  position: absolute;
  top: 40px; /* Ajusta la posición vertical */
  right: 0;
  display: none;
}

#catalog-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#catalog-container li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#catalog-container li:hover {
  background-color: #f0f0f0;
}

#catalog-container a {
  text-decoration: none;
  color: #337ab7;
}

#catalog-container a:hover {
  color: #23527c;
  text-decoration: underline;
}



/* Estilos para el botón en forma de pestaña */
.tab-button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative; /* Agregamos position: relative */
}

.tab-button:hover {
  background-color: #e0e0e0;
}

.tab-button:active {
  background-color: #d0d0d0;
  box-shadow: 0 0 0 2px #666;
}

/* Estilos para el menú desplegable */
.menu-container {
  position: absolute; /* Cambiamos a position: absolute */
  top: 40px;
  right: 0; /* Agregamos right: 0 para mostrar a la derecha */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  display: none;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #e0e0e0;
}

.menu-item:active {
  background-color: #d0d0d0;
  box-shadow: 0 0 0 2px #666;
}






/* Estilos para el botón en forma de pestaña */
.tab-button2 {
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative; /* Agregamos position: relative */
}

.tab-button2:hover {
  background-color: #e0e0e0;
}

.tab-button2:active {
  background-color: #d0d0d0;
  box-shadow: 0 0 0 2px #666;
}


/* Estilos para el menú desplegable */
.menu-container2 {
  position: absolute; /* Cambiamos a position: absolute */
  top: 40px;
  right: 0; /* Agregamos right: 0 para mostrar a la derecha */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  display: none;
}

.menu-list2 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item2 {
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.menu-item2:hover {
  background-color: #e0e0e0;
}

.menu-item2:active {
  background-color: #d0d0d0;
  box-shadow: 0 0 0 2px #666;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.close-button:hover {
  color: #e0e0e0;
}

.close-button:active {
  color: #d0d0d0;
}

.close-button-edit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.close-button-edit:hover {
  color: #e0e0e0;
}

.close-button-edit:active {
  color: #d0d0d0;
}

.close-button-file {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.close-button-file:hover {
  color: #e0e0e0;
}

.close-button-file:active {
  color: #d0d0d0;
}